body{
	margin:0;
	padding: 0;
	font-family: tahoma, sans-serif;
	background-color: lightgray;
}
.wrapper{
	max-width: 1000px;
	margin: auto;
	padding-top: 60px;
	background-color: white;
}
header{
	background-color: navy;
	overflow: auto;
	position: fixed;
	width: 100%;
}
header h1{
	float: left;
	margin: 0;
	padding: .5em;
	color: white;
}
.navbar ul{
	list-style-type: none;
}
.navbar ul li{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
.navbar a{
	color: white;
	text-decoration: none;
	font-size: 1.4em;
}
header h1 a{
	text-decoration: none;
	color: white;
}
.project-contain{
}
h4{
	font-weight: bold;
}
.imgcontain{
	overflow: auto;
	background-color: black;
}
.imgcontain img{
	width: 46%;
	margin: 2%;
	float: left;
}
main ul{
	list-style-type: none;
}
footer{
	text-align: right;
	padding: 5px;
}
a.anchor{
	display: block;
	position: relative;
	visibility: hidden;
	top: -70px;
}


@media screen and (max-width: 620px){
	.navbar{float: left;}
	.imgcontain img{width: 100%;}
}