body{
	margin:0;
	padding: 0;
	font-family: tahoma, sans-serif;
	background-color: lightgray;
}
.wrapper{
	width: 80%;
	margin: auto;
	background-color: white;
}
h1{
	text-align: center;
	margin: 0;
	padding: .5em;
	background-color: navy;
	color: white;
}
.project-contain{
	padding: 10px;
}
h4{
	font-weight: bold;
}
img{
	width: 60%;
	margin-left: 20%;
}
ul{
	list-style-type: none;
}