body{
	margin:0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	background-color: lightgray;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 35px;
}
h3{
	font-size: 30px;
	padding-top: 10px;
}
h4{
	font-size: 25px;
	font-weight: 400;
}
.wrapper a{
	color:  #A41034;
	text-decoration: none;
	transition: .3s;
	border-bottom: 2px solid crimson;
}
.wrapper a:hover{
	color: navy;
}
.wrapper{
	max-width: 1400px;
	margin: auto;
	padding-top: 60px;
	background-color: white;
}
.block{
	margin: 10px auto 50px auto;
	padding: 0 10px 10px 10px;
	max-width: 800px;
	border-left: 2px solid #A41034;
}
/*HEADER & NAV STYLES*/
header{
	background-color: white;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid black;
	box-shadow: 0 0 20px #A41034;
}
.navbar ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
	overflow: auto;
}
.navbar ul li{
	display: inline-block;
	margin: 0px 20px 0px 20px;
}
.navbar a{
	color: black;
	text-decoration: none;
	font-size: 1.4em;
	transition: .3s;
}
.navbar a:hover{
	color: navy;
}
/*TITLE STYLES*/
.titleblock{
	background-color: #A41034;
	height: 250px;
	color: white;
}
.titleblock a{
	display: inline;
	position: relative;
	top: 5px;
	left: 10px;
	text-decoration: none;
	border: 0;
	color: white;
	font-weight: 300;
}
.titleblock a:hover{
	left: 8px;
}
.titleblock h1{
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	padding: 25px 0 15px 0;
	width: 320px;
	border-bottom: 2px solid white;
}
.titleblock h3{
	margin: 0;
	padding: 15px 0 0 0;
	text-align: center;
	font-weight: 400;
}

/*TEXT STYLES*/
p{
	text-align: justify;
	padding: 0 15px 0 15px;
}
p .emphasis{
	font-weight: bold;
}
.sidenote{
	text-align: right;
	font-weight: 300;
	padding: 0;
	margin: 0;
}
.light{
	font-weight: 300;
}

/*IMAGE STYLES*/
.imgcontain{
	overflow: auto;
	background-color: white;
}
.imgcontain img{
	width: 48%;
	margin: 1%;
	float: left;
}
.wrapper ul{
	list-style-type: none;
}
footer{
	text-align: center;
	padding: 5px;
}
a.anchor{
	display: block;
	position: relative;
	visibility: hidden;
	top: -125px;
	height: 0;
	padding: 0;
	margin: 0;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 820px){
	.block{
		border-left: 0;
		margin: 10px 0 20px 0;
		border-top: 1px solid #A41034;
		/*box-shadow: 0 0 10px #A41034;*/
	}
	.block:nth-child(1){
		margin-top: 0;
	}
}
@media screen and (max-width: 700px){
		.imgcontain img{
			width: 90%;
			margin-left: 5%;
		}
	}
@media screen and (max-width: 500px){
	.navbar{
		font-size: .7em;
	}
	.navbar ul li{
		margin: 0 5px;
		float: left;
	}
	.titleblock{
		height: 210px;
	}
	.titleblock h1{
		width: 200px;
		font-size: 30px;
	}
	.titleblock h3{
		font-size: 25px;
	}
}
